#item1{

      grid-area: item1;
      padding: 10px;
      margin: 10px;
    }
    #item2{

      grid-area: item2;
      padding: 10px;
      margin: 10px;
    }
    #item3{
     ;
      grid-area: item3;
      padding: 10px;
      margin: 10px;
    }
    #item4{

      grid-area: item4;
      padding: 10px;
      margin: 10px;
    }
    #item5{
        grid-area: item5;
        padding: 10px;
      margin: 10px;
    }
.grid-container{
      display: grid;
      grid-template-areas:
           'item1 item1 item1 item1 item1 item1 item1'
           'item2 item2 item2 item2 item2 item2 item2'
           'item3 item3 item4 item4 item4 item5 item5'

    ;
    }
#image1{
    position: center;
    display: block;
    margin: auto;
}

 @media only screen and (max-width: 600px) {

     .grid-container {
         display: grid;
         grid-template-areas:
        'item1 item2 item2 item2 item2 item2 item2'
        'item3 item3 item3 item3 item3 item3 item3'
        'item4 item4 item4 item4 item4 item4 item4'
        'item5 item5 item5 item5 item5 item5 item5'

     }
 }